/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1;
    background-color: black; /* Entire page background */
    background-image: url(./images/castle.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Content Wrapper */
.content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%; /* Left and right margins */
}

/* Header Section */
header {
    background-color: #1F2937;
    padding: 20px;
    text-align: center;
}

/* Main Content */
main {
    padding: 0px;
}

/* Top Info Box */
.top-info-box {
    background-color: #1F2937;
    padding: 20px;
}

/* Flexbox Container in Header */
header .flex-container {
    display: flex;
}

/* Flexbox Items in Header */
header .flex-item {
    flex: 1; /* Default to equally growing */
}

/* Specific Flexbox Items in Header */
header #image-box {
    flex: 4; /* 50% */
    font-size: 24px;
    font-weight: bold;
    color: #E5E7EB;
    padding-right: 25%;
}

#header-logo {
    border-radius: 50%;  /* makes the image circular */
    width: 100px;  /* sets width */
    height: 100px;  /* sets height */
    object-fit: cover;  /* keeps aspect ratio */
}


header #header-link-1,
header #header-link-2,
header #header-link-3,
header #blank-box {
    flex: 1; /* 12.5% */
    font-size: 18px;
    color: #F9FAF8;
    white-space: nowrap;
    padding-right: 10px;
}

header a {
    text-decoration: none;  /* removes underline */
    color: inherit;  /* takes on the color of the parent, keeping it consistent */
}

/* Keep links looking the same even after they've been clicked */
header a:visited {
    color: inherit;
}

/* No change on hover */
header a:hover {
    color: inherit;
    text-decoration: underline;
}

/* No change on active click */
header a:active {
    color: inherit;
}


/* Outer Flexbox Container */
.top-info-box .outer-flex-container {
    display: flex;
    margin: 100px auto;
    width: 75%; /* To give left and right margin of 12.5% */
}

/* Inner Flexbox Container */
.top-info-box .inner-flex-container {
    flex: 1;
    flex-direction: column;
    display: flex;
}

/* Nested Flexboxes */
.nested-top,
.nested-middle,
.nested-bottom {
    flex: 1;
}

/* Specific Styles for Nested Flexboxes */
.nested-top {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.nested-middle {
    font-size: 18px;
    color: #B1B1B1;
    padding-top: 5px;
}

.nested-bottom .dice-button {
    display: inline-block;
    background-color: #3882F6;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.nested-bottom .dice-button:hover {
    background-color: white;
    color: #3882F6;
    border: none;
}


.image-placeholder {
    flex: 1;
    background-image: url('./images/tabletop-adventures.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 5px solid #1F2931; /* Adds a border */
    border-radius: 10px; /* Rounds the corners */
}


/* Info Box */
.info-box {
    background-color: #f1f1f1;
    padding: 20px;
}

/* Info Box */
.info-box .main-flex-container {
    display: flex;
    flex-direction: column;
}

/* Top and Bottom Boxes */
.top-box, .bottom-box {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

/* Middle Box */
.middle-box {
    display: flex;
}

/* Middle Blank Boxes */
.middle-box .middle-blank-box {
    flex: 4;
}

/* Middle Content Boxes */
.middle-box .middle-content-box {
    flex: 4;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

/* Image Box */
.image-box {
    border: 5px solid #3882F6;
    border-radius: 25px;
    width: 200px;
    height: 200px;
}

.class-image {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;  /* keeps aspect ratio */
}


/* Text Box */
.text-box p {
    text-align: center;
    width: 200px;
}


/* Quote Box */
.quote-box {
    background-color: #E5E7EB;
    padding: 20px;
}

/* Quote Container */
.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 17%;
    margin-right: 17%;
}

/* Quote Text */
.quote-text p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    margin-top: 20px;    
}

/* Quote Author */
.quote-author {
    align-self: flex-end; /* Align to the right */
    font-size: 18px;
    font-weight: bold;
    color: #4B5563;
    margin-bottom: 20px;
}


/* Bottom Info Box */
.bottom-info-box {
    background-color: #f1f1f1;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Call to Action Container */
.cta-container {
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    width: 75%;
    margin: 0 auto;
    padding: 20px;
}

/* Text Container */
.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Upper and Lower Text */
.upper-text {
    font-size: 24px;
    color: #f1f1f1;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 100px;
}

.lower-text {
    font-size: 18px;
    color: #f1f1f1;
    padding-left: 100px;
    margin-bottom: 20px;
}

/* Button Container */
.button-container {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

/* Button */
.button-container button {
    background-color: #3882F6;
    font-weight: bold;
    color: white;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}


/* Footer */
footer {
    background-color: #1F2937;
    padding: 20px;
    text-align: center;
    color: #E5E7EB;
}